name: Tests

on:
  push:
    branches:
      - master
      - beta
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: npm install and test
        run: |
          npm install --legacy-peer-deps
          npm test
        env:
          CI: true
